<div class="w-full h-[70px] flex items-center bg-white">
    <div class="container mx-auto flex justify-between px-10">
        <div>
            <h1 class="text-2xl font-bold">Traveling</h1>
        </div>
        <div>
            <ul class="flex justify-center gap-4 items-center">
                <li class="font-semibold text-sm">Destinations</li>
                <li class="text-sm font-semibold">Hotels</li>
                <li class="text-sm font-semibold">Flights</li>
                <li class="text-sm font-semibold">Bookings</li>
                <li class="relative pl-10">
                    <input class="outline-none border rounded-md p-2 text-sm border-black w-72" placeholder="Search Destination">
                    <span class="material-symbols-outlined absolute top-[5px] right-2 text-xl">search</span>
                </li>
            </ul>
        </div>
    </div>
</div>